@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Medium.woff2') format('woff2'),
        url('../fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trump Soft Pro';
    src: url('../fonts/TrumpSoftPro-Bold.woff2') format('woff2'),
        url('../fonts/TrumpSoftPro-Bold.woff') format('woff'),
        url('../fonts/TrumpSoftPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }