:root {
  --btn-bg: #CC0099;
  --cell-bg: #F7F8F8;
  --border-edge: #E3E3E4;
  --primary-text: #000000;
  --secondary-text: #A7AAB2;
  --info-text: #505666;
  --alert-text: #FF4422;
  --gradient: linear-gradient(to right, #660099, #CC0099);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Graphik', 'Arial', 'sans-serif';
}

.ticket {
  border: 3px solid green;
}

.ticket__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 52px;
}

.ticket__title {
  font-family: 'Trump Soft Pro';
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  color: var(--primary-text);
  line-height: 52px;
  text-align: center;
}

.ticket__description {
  color: var(--info-text);
  letter-spacing: -0.14px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.ticket__info {
  padding: 30px;
  height: 200px;
}

.topLabel {
  height: 32px;
  background: var(--gradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.topLabel__text {
  font-family: 'Shentox';
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.12px;
}

.topLabel--hidden {
  background: transparent;
}

.price {
  font-size: 20px;
  color: var(--primary-text);
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.price__footnote {
  font-size: 12px;
  color: var(--secondary-text);
  letter-spacing: -0.12px;
  line-height: 20px;
  text-align: center;
}

.price__strikethrough {
  text-decoration: line-through;
  color: var(--secondary-text);
}

.price__offer {
  color: var(--alert-text);
  padding-left: 10px;
}

.btn {
  font-family: 'Graphik';
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.33px;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 1;
  border: none;
  height: 48px;
  width: 144px;
  border-radius: 24px;
  background-color: var(--btn-bg);
}

.list_perks {
  list-style-type: none;
  line-height: 52px;
}

.list_perks__item--hidden {
  color: transparent;
}

.list_perks > li:nth-child(odd) {
  background-color: var(--cell-bg);
}

@media screen and (min-width: 480px) {
  body {
    background-color: aquamarine;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .ticket {
    width: 20%;
  }
}

@media screen and (min-width: 1500px) {
  body {
    background-color: lavender;
  }
  .ticket {
    width: 20%;
  }
}
/*# sourceMappingURL=styles.css.map */