:root {
    --btn-bg: #CC0099;
    --cell-bg: #F7F8F8;
    --border-edge: #E3E3E4;
    --primary-text: #000000;
    --secondary-text: #A7AAB2;
    --info-text: #505666;
    --alert-text: #FF4422;
    --gradient: linear-gradient(to right, #660099, #CC0099);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Graphik', 'Arial', 'sans-serif';
}

.ticket {

    &__header {
        margin-bottom: 26px;
        height: 320px;
    }

    &__footer {
        margin-top: 26px;
    }
    
    &__title {
        font-family: 'Trump Soft Pro', 'Arial', 'sans-serif';
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.96px;
        color: var(--primary-text);
        line-height: 52px;
        text-align: center;
    
    }
    
    &__description {
        color: var(--info-text);
        letter-spacing: -0.14px;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    &__info {
        padding: 0 30px;
        height: 150px;
    }

}

.topLabel {
    height: 32px;
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__text {
        font-family: 'Shentox', 'Arial', 'sans-serif';
        color:#FFFFFF;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.12px;
    }
}

.topLabel--hidden {
    background: transparent;
}

.price {
    font-size: 20px;
    color: var(--primary-text);
    font-weight: 500;
    line-height: 20px;
    text-align: center;

    &__footnote {
        font-size: 12px;
        color: var(--secondary-text);
        letter-spacing: -0.12px;
        line-height: 20px;
        text-align: center;
    }

    &__strikethrough {
        text-decoration: line-through;
        color: var(--secondary-text);
    }

    &__offer {
        color: var(--alert-text);
        padding-left: 10px;
    }

}

.btn {
    font-family: 'Graphik';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.33px;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    height: 48px;
    width: 144px;
    border-radius: 24px;
    margin-top: 13px;
    background-color: var(--btn-bg);

    &__wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.list_perks {
    list-style-type: none;
    line-height: 52px;
    font-size: 14px;
    color: var(--primary-text);
    border-bottom: 1px solid var(--border-edge);
    
    &--centered {  
        text-align: center;
    }

    &__item {
        text-align: right;
    }

    &__item--hidden {
        color: transparent;
    }
}

.list_perks > li:nth-child(odd) {
    background-color: var(--cell-bg);
}

@media screen and (min-width: 480px) {
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .ticket {
        border-right: 1px solid var(--border-edge);
        width: calc(20% - 1px);

        &__wrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            width: 80%;
        }
    }

    .ticket:last-child {
        border-right: none;
    }

    .table__wrapper {
        max-width: 320px;
    }

    .list-perks__text_only {
        padding-top: 346px;
    }


}

@media screen and (min-width: 1500px) {
    body {
        padding: 5%;
    }

    .ticket {
        width: calc(25% - 1px);
    }


}

@media screen and (min-width: 1500px) {
    body {
        padding: 8%;
    }
}