:root {
  --btn-bg: #CC0099;
  --cell-bg: #F7F8F8;
  --border-edge: #E3E3E4;
  --primary-text: #000000;
  --secondary-text: #A7AAB2;
  --info-text: #505666;
  --alert-text: #FF4422;
  --gradient: linear-gradient(to right, #660099, #CC0099);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Graphik', 'Arial', 'sans-serif';
  background-color: var(--cell-bg);
}

.ticket {
  border: 1px solid var(--border-edge);
  margin: 20px;
  background-color: white;
}

.ticket__header {
  margin-bottom: 26px;
  height: 320px;
}

.ticket__header--mobile {
  height: auto;
}

.ticket__footer {
  margin: 26px 0;
}

.ticket__title {
  font-family: 'Trump Soft Pro', 'Arial', 'sans-serif';
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.96px;
  color: var(--primary-text);
  line-height: 52px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticket__description {
  color: var(--info-text);
  letter-spacing: -0.14px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.ticket__info {
  padding: 0 30px;
  height: 150px;
}

.topLabel {
  height: 32px;
  background: var(--gradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.topLabel__text {
  font-family: 'Shentox', 'Arial', 'sans-serif';
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.12px;
}

.topLabel--hidden {
  background: transparent;
}

.price {
  font-size: 20px;
  color: var(--primary-text);
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.price__footnote {
  font-size: 12px;
  color: var(--secondary-text);
  letter-spacing: -0.12px;
  line-height: 20px;
  text-align: center;
}

.price__strikethrough {
  text-decoration: line-through;
  color: var(--secondary-text);
}

.price__offer {
  color: var(--alert-text);
  padding-left: 10px;
}

.btn {
  font-family: 'Graphik';
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.33px;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 1;
  border: none;
  height: 48px;
  width: 144px;
  border-radius: 24px;
  margin-top: 13px;
  background-color: var(--btn-bg);
}

.btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list_perks {
  list-style-type: none;
  line-height: 52px;
  font-size: 14px;
  color: var(--primary-text);
  border-bottom: 1px solid var(--border-edge);
}

.list_perks--centered {
  text-align: center;
}

.list_perks__item {
  text-align: right;
}

.list_perks__item--hidden {
  color: transparent;
}

.list_perks > li:nth-child(odd) {
  background-color: var(--cell-bg);
}

@media screen and (min-width: 480px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ticket {
    width: calc(80% - 1px);
  }
  .ticket__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
  .ticket:last-child {
    border-right: none;
  }
  .table__wrapper {
    max-width: 20%;
  }
  .list-perks__text_only {
    padding-top: 346px;
  }
}

@media screen and (min-width: 768px) {
  .ticket {
    width: calc(80% - 42px);
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: white;
  }
  .ticket {
    width: calc(25% - 1px);
    margin: 0;
    border: none;
    border-right: 1px solid var(--border-edge);
  }
  .highlighted {
    -webkit-box-shadow: 0px 0px 6px 1px #0000001A;
            box-shadow: 0px 0px 6px 1px #0000001A;
    z-index: 1;
  }
}

@media screen and (min-width: 1500px) {
  body {
    padding: 5%;
  }
}

@media screen and (min-width: 1500px) {
  body {
    padding: 8%;
  }
}
/*# sourceMappingURL=styles.css.map */