:root {
    --btn-bg: #CC0099;
    --cell-bg: #F7F8F8;
    --border-edge: #E3E3E4;
    --primary-text: #000000;
    --secondary-text: #A7AAB2;
    --info-text: #505666;
    --alert-text: #FF4422;
    --gradient: linear-gradient(to right, #660099, #CC0099);
}

* {
    margin: 0;
    padding: 0;
}

body {
    // background: var(--gradient);
    font-family: 'Graphik', 'Arial', 'sans-serif';
}

.topLabel {
    height: 32px;
    background: var(--gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__text {
        font-family: 'Shentox';
        color:#FFFFFF;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.12px;
    }
}

.topLabel--hidden {
    background: transparent;
}

.ticket__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ticket__title {
    font-family: 'Trump Soft Pro';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.96px;
    color: var(--primary-text);
    line-height: 52px;
    text-align: center;

}

.ticket__description {
    color: var(--info-text);
    letter-spacing: -0.14px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

}

.price {
    font-size: 20px;
    color: var(--primary-text);
    font-weight: 500;
    line-height: 20px;
    text-align: center;

    &__footnote {
        font-size: 12px;
        color: var(--secondary-text);
        letter-spacing: -0.12px;
        line-height: 20px;
        text-align: center;

    }

    &__strikethrough {
        text-decoration: line-through;
        color: var(--secondary-text);
    }

    &__offer {
        color: var(--alert-text);
        padding-left: 10px;
    }

}

.btn {
    font-family: 'Graphik';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.33px;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 1;
    border: none;
    height: 48px;
    width: 144px;
    border-radius: 24px;
    background-color: var(--btn-bg);
}